@use '../../../abstract/variables' as *;

.MovieDetail {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  flex-direction: column;
}

.center-movie-detail {
  background-color: $creamColor;
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 80vh;
  overflow-y: scroll;
  padding: 10px;
}

.poster-with-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.large-poster {
  height: 300px;
  width: 215px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  height: 60%;
  padding: 20px;
  justify-content: space-between;
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px
  }
}

.top-movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  
}

button {
  @include buttons;
  font-size: 14px;
}

.synopsis, 
.summary {
  margin: 10px;
  font-size: 22px;
}

.summary {
  font-size: 26px;
}
