@use '../../../abstract/variables' as *;

.MovieDisplay {
  height: 260vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.center-movie-container {
  background-color: $creamColor;
  width: 70vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  row-gap: 10px;
  align-content: space-around;
}