@use "../../../abstract/variables" as *;

.Header {
  background-color: $brownColor;
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  a {
    margin: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  a.active {
    color: $creamColor;
  }
}

.logo {
  width: 240px;
  margin: 10px;
  height: 18vh;
  cursor: pointer;
}

.links {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.arrow {
  height: 16px;
}

@media screen and (min-width: 700px) {
  .links {
    width: 20vw;
  }
}

@media screen and (min-width: 1050px) {
  .links {
    width: 15vw;
  }
}

@media screen and (min-width: 1450px) {
  .links {
    width: 10vw;
  }
}