@use '../../../abstract/variables' as *;

.Header {
  background-color: $brownColor;
  height: 20vh;
  width: 100vw;
  display: flex;
  a {
    margin: 0 10px;
  }
}

.logo {
  width: 20vw;
  margin: 10px;
  height: 18vh;
}

